@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
	<div class="row">
		<h1>@Model.IntroText</h1>
		<h2>@Model.IntroText</h2>
		<h3>@Model.IntroText</h3>
		<h4>@Model.IntroText</h4>
		<h5>@Model.IntroText</h5>
		<h6>@Model.IntroText</h6>
		<p>@Model.IntroText</p>
	</div>
</div>